<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Products</title>
</head>
<body>
    <h1><%= category %> Products</h1>
    <div>
        <ul>
            <% for (let product of products) { %>
            <li>
                <a href="/products/<%= product.id %>"><%= product.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
    <a href="/products/new">New Product</a>
    <% if (category !== "All") {%>
    <a href="/products">All Products</a>
    <%}%>
</body>
</html>