<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Product</title>
</head>
<body>
    <h1>Add New Product</h1>
    <a href="/products">Product List</a>
    <div id="form">
        <form action="/products" method="POST">
            <section>
                <label for="name">Product Name</label>
                <input type="text" name="name" id="name">
            </section>
            <section>
                <label for="price">Product Price</label>
                <input type="number" name="price" id="price" step="0.01">
            </section>
            <section>
                <label for="cat">Product Category</label>
                <select name="category" id="cat">
                    <% for (let category of categories) { %>
                    <option value="<%= category %>"><%= category %></option>
                    <% } %>
                </select>
            </section>
            <button>Create</button>
        </form>
    </div>
</body>
</html>