body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
}

.container {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    border-radius: 1em;
    width: 250px;
    height: 175px;
}

.color {
    text-decoration: none;
    color: black;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition: .15s;
}

.color span {
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    display: none;
    transition: inherit;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.color:hover {
    flex-grow: 1.75;
}

.color:hover span {
    display: block;
}

.color:nth-of-type(1) {
    background-color: #c9e4ca;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.color:nth-of-type(2) {
    background-color: #87bba2;
}

.color:nth-of-type(3) {
    background-color: #55828b;
}

.color:nth-of-type(4) {
    background-color: #3b6064;
}

.color:nth-of-type(5) {
    background-color: #364958;
}

.color:nth-of-type(6) {
    background-color: #007f5f;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}