<%- include("partials/head")%>
<body>
    <%- include("partials/navbar.ejs") %>
    <h1>Home Page <%="hello world".toUpperCase()%></h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio ea earum, eligendi est expedita harum
        illo, illum impedit ipsa itaque magnam nisi perferendis possimus repellendus rerum velit? Delectus, illum?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur dolor et excepturi facilis
        fugiat impedit ipsum magnam magni nobis odit quas sit, totam voluptatem voluptatum. Doloremque id nobis
        perspiciatis?
    </p>
</body>
</html>