<%- include("partials/head")%>
<body>
    <%- include("partials/navbar.ejs") %>
    <h1>Your random number is: <%= rand %></h1>
    <% if (rand % 2 === 0) { %>
        <h2>Even number</h2>
    <% } else { %>
        <h2>Odd number</h2>
    <% } %>
    <h3>That number is: <%=rand%2===0 ? "EVEN" : "ODD"%></h3>
</body>
</html>